html {
    touch-action: manipulation;
}

* {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
}

.container {
    display: grid;
    grid-template-rows: 8% 1fr 8%;

    height: 100vh;
    width: 100vw;
    
    background-color: black;
}

.header {
    background-color: #FF88EE;
    color: white;
}
.header p {
    /* border: solid red 1px; */
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    line-height: 30px;
    text-align:left;

    /* font-size: 18px; */
    font-weight: 600;

    margin: 10px 0px 0px 10px; /* 上から時計回り */
}

.main {
    background-color: #EEFF88;
    text-align: center;
}

.window {
    display: inline-block;
    margin: 3vw;
}

.controller {
    display: flex;
    flex-direction: row;
    margin: 0px 3vw 0px 12vw;
    text-align: center;
}

.footer {
    background-color: #88EEff;

}