.tetris-container {
    display: flex;
    flex-direction: row;
    background-color: #EEEEEE;
}

.tetris-panel-container {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
    background-color: #EEEEEE;
    border-radius: 1vw;
}

.tetris-panel-container-padding {
    flex-grow: 1;
}

.tetris-panel-container p {
   margin: 0;
   padding: 0;
}

.tetris-button-panel {
    border-style: none;
    width: 30vw;
    height: 30vw;
}

.tetris-button {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #88EEff;
    color: white;
}